<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--相当于GoodsInfoMapper接口的实现 namespace必须是GoodsInfoMapper类路径-->
<mapper namespace="com.hbj.niceprice.mapper.GoodsInfoMapper">

    <!--    <resultMap id="BaseResultMap" type="com.example.entity.User">-->
    <!--        <result column="id" jdbcType="INTEGER" property="id" />-->
    <!--        <result column="userName" jdbcType="VARCHAR" property="userName" />-->
    <!--        <result column="passWord" jdbcType="VARCHAR" property="passWord" />-->
    <!--        <result column="realName" jdbcType="VARCHAR" property="realName" />-->
    <!--    </resultMap>-->

    <!-- findById必须和接口中的方法名一样 返回一个GoodsInfo-->
    <select id="findById" parameterType="String"
            resultType="GoodsInfo">
        select *
        from goods_info
        where goods_id = #{goods_id}
    </select>

    <insert id="insert" parameterType="GoodsInfo">
        insert into goods_info(goods_id, goods_name, price, variety, detail, pic_address, link, plat_form)
        values (#{goods_id}, #{goods_name}, #{price}, #{variety}, #{detail}, #{pic_address}, #{link}, #{plat_form})
    </insert>

    <select id="selectAll" resultType="com.hbj.niceprice.entity.GoodsInfo">
        select *
        from goods_info
    </select>

</mapper>
