<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--相当于GoodsInfoMapper接口的实现 namespace必须是GoodsInfoMapper类路径-->
<mapper namespace="com.hbj.niceprice.mapper.GoodsInfoMapper">

    <!-- findById必须和接口中的方法名一样 返回一个GoodsInfo-->
    <select id="findById" resultType="GoodsInfo">
        select *
        from goods_info
        where goods_id = #{goodsId}
    </select>

    <insert id="insert" parameterType="GoodsInfo">
        insert into goods_info(goods_id, goods_name, price, variety, detail, pic_address, link, plat_form)
        values (#{goods_id}, #{goods_name}, #{price}, #{variety}, #{detail}, #{pic_address}, #{link}, #{plat_form})
    </insert>

    <select id="selectAll" resultType="GoodsInfo">
        select *
        from goods_info
    </select>

    <select id="selectByVariety" resultType="GoodsInfo">
        select *
        from goods_info
        where variety = #{variety}
        order by craw_date desc
        limit #{page},#{size}
    </select>

    <select id="getListByVariety" resultType="GoodsInfo">
        select *
        from goods_info
        where variety = #{variety}
        order by craw_date desc
    </select>

    <update id="updateGoodsDetailById">
        update goods_info
        set detail=#{detail}
        where goods_id = #{goodsId}
    </update>
</mapper>
